
<div class="container my-5">
  <div @fade class="row">
    <div class="col"></div>
    <div class="col-md-5">
      <div class="card bg-transparent border-0 text-white">
        <div class="card-body p-5">
          <h3 class="text-center mb-4">IT FEST POLSRI</h3>
          <div class="form-group mb-4">
            <input type="email" id="email" placeholder="Email" class="form-control rounded-0">
          </div>
          <div class="form-group mb-4">
            <input type="password" id="password" placeholder="Password" class="form-control rounded-0">
          </div>
          <button class="btn btn-md btn-info w-100 mb-4 rounded-0">Masuk</button>
          <div class="custom-control custom-checkbox d-inline">
            <input type="checkbox" id="remember" class="custom-control-input">
            <label for="remember" class="custom-control-label text-muted">Ingat Saya</label>
          </div>
          <div class="d-inline float-right text-muted">
            <a [routerLink]="['/register']" routerLinkActive="router-link-active"  class="text-muted">Daftar</a> |
            <a href="" class="text-muted">Lupa Kata Sandi ?</a>
          </div>
        </div>
      </div>
      <p class="text-center text-muted">Copyright &copy; Amateur Developer 2018</p>
    </div>
    <div class="col"></div>
  </div>
</div>