<div @fade class="container my-3">
    <div class="row">
        <div class="col-md-5 py-4">
            <h2 class="text-center text-white">
                Belajar Bersama Kami
            </h2>
            <hr>
            <p class="text-center text-white">
                Learn.in adalah platform yang mempertemukan antara pengajar dengan peserta, pembelajaran dilakukan secara online dan memiliki jangka waktu.
            </p>
            <h3 class="midtown mt-5 text-white text-center"><span style="color:gold">Learn</span>.in</h3>
        </div>
        <div class="col-md-7">
            <h3 class="text-center text-white">Top Course</h3>
            <div class="row mt-3">
                <div class="col-md-4 mb-3">
                    <div class="card border-0 rounded-0">
                        <img src="/src/assets/img/msql1.png" alt="" class="card-img-top rounded-0">
                        <div class="card-body">
                            <h6 class="card-title">Judul Course</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card border-0 rounded-0">
                        <img src="/src/assets/img/msql1.png" alt="" class="card-img-top rounded-0">
                        <div class="card-body">
                            <h6 class="card-title">Judul Course</h6>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-3">
                    <div class="card border-0 rounded-0">
                        <img src="/src/assets/img/msql1.png" alt="" class="card-img-top rounded-0">
                        <div class="card-body">
                            <h6 class="card-title">Judul Course</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="my-3">
        <h3 class="text-white mb-3">Popular Course</h3>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner row w-100 mx-auto">
            <div class="carousel-item col-md-4 active">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 1</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 2</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 3</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 4</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 5</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 6</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            <div class="carousel-item col-md-4">
                <div class="card">
                
                <div class="card-body">
                    <h4 class="card-title">Card 7</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
                </div>
            </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <i class="fas fa-angle-left text-info fa-3x round"></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <i class="fas fa-angle-right text-info fa-3x round"></i>
            </a>
        </div>
    </div>
</div>