<div @fade class="container my-3">
  <span class="text-white d-inline">Pilihan Kategori</span>
  <span class="text-white d-inline float-right">Kategori Lain +</span>
</div>

<div @fade class="container my-3">
  <div class="row">
    <div class="col-md-3">
      <div class="card border-0">
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0">
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0">
        <div class="card-body"></div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card border-0">
        <div class="card-body"></div>
      </div>
    </div>
  </div>
</div>