<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img src="/src/assets/img/msql1.png" alt="" class="card-image img-fluid">
      <div class="card-body">
        <h4 class="card-title">Judul Course</h4>
        Penjelasan singkat course
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="/src/assets/img/msql1.png" alt="" class="card-image img-fluid">
      <div class="card-body">
        <h4 class="card-title">Judul Course</h4>
        Penjelasan singkat course
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="/src/assets/img/msql1.png" alt="" class="card-image img-fluid">
      <div class="card-body">
        <h4 class="card-title">Judul Course</h4>
        Penjelasan singkat course
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="/src/assets/img/msql1.png" alt="" class="card-image img-fluid">
      <div class="card-body">
        <h4 class="card-title">Judul Course</h4>
        Penjelasan singkat course
      </div>
    </div>
  </div>
</div>