/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: StoryBook;
    src: url(./assets/font/Storyboo.TTF);
}

@font-face {
    font-family: Midtown;
    src: url(./assets/font/Midtown.ttf);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("./assets/img/bg.jpg");
    background-attachment: fixed;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

.story {
    font-family: StoryBook;
}

.midtown {
    font-family: Midtown;
}