
<div class="container my-5">
    <div @fade class="row">
      <div class="col"></div>
      <div class="col-md-5">
        <div class="card bg-transparent border-0 text-white">
          <div class="card-body p-5">
            <h3 class="text-center mb-4">IT FEST POLSRI</h3>
            <div class="input-group mb-4">
              <div class="input-group-prepend">
                <span class="input-group-text border-0 bg-info rounded-0" id="basic-addon1">
                  <i class="fas fa-user text-white"></i>
                </span>
              </div>
              <input type="text" id="nama" placeholder="Nama" class="form-control rounded-0">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0 bg-info rounded-0" id="basic-addon1">
                    <i class="fas fa-envelope text-white"></i>
                  </span>
                </div>
              <input type="email" id="email" placeholder="Email" class="form-control rounded-0">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0 bg-info rounded-0" id="basic-addon1">
                    <i class="fas fa-lock text-white"></i>
                  </span>
                </div>
              <input type="password" id="password" placeholder="Kata Sandi" class="form-control rounded-0">
            </div>
            <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text border-0 bg-info rounded-0" id="basic-addon1">
                    <i class="fas fa-lock text-white"></i>
                  </span>
                </div>
              <input type="password" id="passkonf" placeholder="Konfirmasi Kata Sandi" class="form-control rounded-0">
            </div>
            <button class="btn btn-md btn-info w-100 mb-4 rounded-0">Daftar Sekarang</button>
            <div class="d-inline float-right text-muted">
              <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="text-muted">Sudah Punya Akun?</a>
            </div>
          </div>
        </div>
        <p class="text-center text-muted">Copyright &copy; Amateur Developer 2018</p>
      </div>
      <div class="col"></div>
    </div>
  </div>